@CHARSET "UTF-8";

/* 年表示のスタイル */
.years {
    width: 68px;
    color: brown;
    background-color: #deffc8;
    font-family: Comic Sans MS, Helvetica;
    border: 6px lightgreen solid;
    border-radius: 0px 30px 0px 30px;
    margin-left: 405px;
}
/* 月見出し・曜日見出しのスタイル */
thead tr th {
    color: brown;
    background: #deffc8;
    text-align: center;
    font-size: 20px;
    font-family: Comic Sans MS, Helvetica;
    font-weight: bold;
    border-bottom:lightgreen 6px solid;
}
/* 日付全体のスタイル */
tbody tr td {
    text-align: center;
    font-size: 20px;
    font-family: Comic Sans MS, Helvetica;
}
/* ひと月毎のスタイル */
table {
    width: 100%;
    background-color: #deffc8;
    padding: 5px;
    border: 6px lightgreen solid;
    border-radius: 30px 0px 30px 0px;
    table-layout: fixed;
}
/* 月毎の配置 */
ul {
    width: 900px;
    list-style-type: none;
}
li {
    height: 280px;
    width: 250px;
    margin: 20px 10px;
    float: left;
}
/* 土日祝の色付け */
.youbi_0 {
    color: red;
}
.youbi_6 {
    color: blue;
}
.publicHoliday {
    color: red;
}